// Colors
$color-primary: #F5D042;
$color-secondary: #FFA500;
$color-tertiary: #006400;

// Font 
$default-font-size: 1.6rem;
 

// Typography 
$font-body:  'Cabin', sans-serif;
$font-heading:  'Bangers', cursive; 


// Layout & spacing
$grid-width: 13.84rem;